body {
	background-image: url("http://storage.googleapis.com/ticimages/background.jpg");
}

#container {
	margin: auto;
	width: 620px;
	height: 620px;
	position: relative;
}

#tie {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("http://assets.diylol.com/hfs/ebc/f71/ef3/resized/success-kid-meme-generator-hell-yeah-tie-winning-ea670b.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

td {
	border: 3px solid black;
	height: 200px;
	width: 200px;
	font-size: 70px;
	text-align: center;
}

#player, h1 {
	text-align: center;
}

table {
	margin: auto;
}